sudo: required
services:
  - docker

language: go

go:
  - tip

before_install:
  - go get github.com/wadey/gocovmerge
  - go get github.com/mattn/goveralls
  - go get golang.org/x/tools/cmd/cover
script:
  - go test -v ./...
after_success:
  - scripts/generate_coverage.sh
  - goveralls -coverprofile=full_cov.out -service=travis-ci
